 /* STEP 1: Configure an element to use an animation */
 #animated-shape {
    width: 200px;
    height: 200px;
    background:rgb(250, 212, 217); 
    /* 4 sub properties to attach animation */
    animation-name: colorchange-alt;
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: linear; 
 }
 /* STEP 2: Define the animation sequence */
 @keyframes colorchange {
    from { background: burlywood; }
    to { background: rgb(255, 121, 127); }
 } 
 @keyframes colorchange-alt {
    0% { background: burlywood; }
    50% { background:rgb(255, 121, 127); }
    100% { background: burlywood; }
 }
 
 
 
 
 
 
 .box {
    background: rgb(250, 212, 217);
    margin: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
}

/* The TRANSFORM property uses functional values like f(x) to change an element. */


#rotate {
    transform: rotate(-10deg); 
} 

#scale {
    transform: scale(0.6);
}

#skew {
    transform: skew(-25deg);
}

/* translate(x) moves along x axis, translate(x, y) moves diagonally, translate(0, y) moves along y axis */


#translate {
    transform: translate(60px, 40px);
}


/* To apply MULTIPLE TRANSFORMATIONS to the same element, you chain the functions in the same line of code */

#chain {
    transform: scale(1) rotate(-88deg) translate(-72px);
} 

#three-D {
    transform: perspective(100px) translateZ(-30px); 

    
} 